<!DOCTYPE html>
<html>
<heade>
  <title>PUBLIC STORAGE</title>
  <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
</head>
  <head>
      <title>PUBLIC STORAGE</title>
      <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
  </head>
  <body>
    <header>
      <div class="container">
        <h1 class="logo">Public Storage</h1>
        <strong><nav>
          <ul class="menu">
            <li><a href="{{ url_for('showStorages') }}">Storages</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="{{ url_for('login') }}">Login</a></li>
          </ul>
        </nav></strong>
      </div>
    </header>
    <div class="container">
        {%block content%}
        {%endblock%}
    </div>
  </body>
</html>
