<head>
    <title>Auto Repair Center</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
    <script>
      function start() {
        gapi.load('auth2', function () {
          auth2 = gapi.auth2.init({
            client_id: '462283270013-4l8lmtsrefrernp61ipu1s89tqqbsdcd.apps.googleusercontent.com',
            scope: 'profile',
            redirecturi: "postmessage",
            callback: "signInCallback",
            cookiepolicy: "single_host_origin",
            approvalprompt: "force"
          });
        });
      }
    </script>
</head>

<body>

    <button id="signinButton">Google Signin</button>

    <div id="result"></div>

    <script>
      $('#signinButton').click(function () {
        function signInCallback(authResult) {
          if (authResult['code']) {
            $('#signinButton').attr('style', 'display:none');
            $.ajax({
              type: 'POST',
              url: '/gconnect?state={{STATE}}',
              processData: false,
              data: authResult['code'],
              contentType: 'application/octet-stream; charset=utf-8',
              success: function (result) {
                if (result) {
                  $('#result').html('Login Successful!</br>' + result + '</br>Redirecting...');
                  setTimeout(function () {
                    window.location.href = "/autorepaircenter";
                  }, 4000);
                } else if (authResult['error']) {
                  console.log('There was an error: ' + authResult['error']);
                } else {
                  $('#result').html('Failed to make a server-side call. Check your configuration and console.');
                }
              }
            });
          }
        }
        auth2.grantOfflineAccess().then(signInCallback);
      })
    </script>
</body>
