{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row top-container">
		<div class="col-md-10"></div>
		<div class="col-md-2 text-right">
					</div>
	</div>
	<div class="row divider blue">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner main">
		<div class="col-md-1"></div>
		<div class="col-md-11 padding-none">
			<h2>All Storages</h2>
		</div>
	</div>

<div class = 'flash'>
		      {% with messages = get_flashed_messages() %}
      {% if messages %}

        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>

	<div class="row padding-top padding-bottom">
		<div class="col-md-1"></div>
		<div class="col-md-10 padding-none">
			<a href="{{url_for('NewStorage')}}">
				<button class="btn btn-default" id="new-storage">Add storage
				</button>
			</a>
		</div>
		<div class="col-md-1"></div>
	</div>
	{% for storage in storages %}
		<a href = "{{url_for('ShowContainer', storage_id = storage.id)}}">
			<div class="row">
				<div class="col-md-1"></div>
					<div class="col-md-10 storage-list">
						<h3>{{storage.name}}</h3>
					</div>
				<div class="col-md-1"></div>
			</div>
		</a>
	{% endfor %}
{% endblock %}
